body {
    margin:0;
    padding:0;
    font-size: 150%;
}

table, th, td {
  border: 0px solid black;
}

.profileLink {
    
    color:blue;
}

.profileLink:hover {
    
    text-decoration: underline;
    cursor: pointer;
}

.createDogLink {
    
    color:blue;
}

.createDogLink:hover {
    
    text-decoration: underline;
    cursor: pointer;
}

.profileImg {
    width: 20vh;
    border-radius: 50%;
    grid-column: 1/5;
}